.card {
  background-color: #f3f3f3;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  color: #333;
  width: 35%; /* Set the desired width */
  height: 200px; /* You can set a fixed height if needed */
  border: 2px solid #ccc;
}

.card h2 {
  color: #192655;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card ul li {
  margin: 10px 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.card ul li::before {
  content: "●"; /* Use a bullet character */
  color: #ff5733;
  margin-right: 10px; /* Adjust spacing between bullet and text */
}
